version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: Balu
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/Balu
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 1234
      GEMINI_API_KEY: AIzaSyDQK0dPdHR6isHJJZt2VR4ym4iqHoOuqc8
    ports:
      - "8080:8080"
    restart: unless-stopped

volumes:
  postgres_data:
